*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif, Arial, Helvetica;
    font-size: 17px;
    color: #926239;
    line-height: 1.6;
}

#showcase{
    background-image: url("../img/showcase.jpg");
    height: 100vh;
    width: 100wh;
    background-size: cover;
    background-position: center;
}