*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif, Arial, Helvetica;
    font-size: 17px;
    color: #663914;
    line-height: 1.6;
}

#showcase{
    font-family: 'Cabin Sketch', cursive;
    background-image: url("../img/showcase.jpg");
    height: 100vh;
    width: 100wh;
    background-size: cover;
    background-position: center;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    
    padding: 3vw 5vw;
    border: #663914 solid 3px;
    border-radius: 10px;
    background-color: rgba(211, 208, 206, 0.8);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container p{
    font-size: 20px;
}
.container h1{
    font-size: 50px;
}
@media all and (max-width: 480px){
    .container p{
        font-size: 15px;
    }
    .container h1{
        font-size: 30px;
    }
}
.showcase-container--button{
    margin-top: 5vh;
    text-decoration: none;
    color: white;
    border-radius: 19px;
    padding: 7px;
    background-color: #663914;
    box-shadow: 0 9px #999;
}

.showcase-container--button:hover{
    background-color: white;
    color: #663914;
}
.showcase-container--button:active {
    box-shadow: 0 5px #667;
    transform: translateY(4px);
  }


  