*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(219, 183, 153, 0.5);
    font-family: sans-serif, Arial, Helvetica;
    font-size: 17px;
    color: #663914;
    line-height: 1.6;
}

#showcase{
    font-family: 'Cabin Sketch', cursive;
    background-image: url("../img/showcase-min.jpg");
    height: 100vh;
    width: 100wh;
    background-size: cover;
    background-position: center;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    
    padding: 3vw 5vw;
    border: #663914 solid 3px;
    border-radius: 10px;
    background-color: rgba(211, 208, 206, 0.8);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container p{
    font-size: 20px;
    
}
.container h1{
    font-size: 50px;
}
@media all and (max-width: 480px){
    .container p{
        font-size: 15px;
    }
    .container h1{
        font-size: 30px;
    }
}
.showcase-container--button {
    margin-top: 5vh;
    text-decoration: none;
    color: white;
    border-radius: 19px;
    padding: 7px;
    background-color: #663914;
    box-shadow: 0 9px #999;
}

.showcase-container--button:hover{
    background-color: white;
    color: #663914;
}
.showcase-container--button:active {
    box-shadow: 0 5px #667;
    transform: translateY(4px);
  }

.showcase-container--button:visited{
    margin-top: 5vh;
    text-decoration: none;
    color: white;
    border-radius: 19px;
    padding: 7px;
    background-color: #663914;
    box-shadow: 0 9px #999;
}
.features-container{
    margin-top: 3vh;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.feature{
    margin: 0 1.5vw;
    display: flex;
}

.feature-reverse{
    flex-direction: row-reverse;
}
  
.feature-img{
    background-position: center;
    background-size: cover;
    width: 50%;
}
.pizzashop{
    background-image: url('../img/pizzashop.jpg');
}
.cafe1{
    background-image: url('../img/cafe.jpg');
}
.cafe2{
    background-image: url('../img/cafe2.jpg');
}
.feature-content{
    font-family: 'Advent Pro', sans-serif;
    box-sizing: border-box;
    padding:30px;
    width: 50%;
}
.feature-content h2{
    border: #663914 solid 3px;
    background-color: rgba(255, 250, 247, 0.7);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
  }
  .feature-content p{
    text-align: justify;
  }

@media all and (max-width: 680px){
    .features-container{
        
        width: 100vw;
     margin-left: 0;
     margin-right: 0;
    }
    .feature{
       width: 100vw;
       flex-direction: column;
       align-items: center;
    }
    .feature-img{
        width: 100%;
        height: 200px;
    }
    .feature-content{
        box-sizing: border-box;
        padding:10px;
        text-align: justify;
        width: 70%;
      }
}

/* 
font-family: 'Patrick Hand', cursive;
font-family: 'Advent Pro', sans-serif;
font-family: 'Coming Soon', cursive; */